Repository DDD-Community/DDD10-TEOPLE-iOS, pull requests merged in 2024-02, with the labels that each got.

#5 [Resource] 디자인시스템 Color 추가
  Umat/Projects/Shared/DesignSystem/Sources/Colors/Extensions+/Color+Extension.swift
  Umat/Projects/Shared/DesignSystem/Sources/Colors/Extensions+/ShapeColor+Extension.swift
  Umat/Projects/Shared/DesignSystem/Sources/Colors/Models/Colors.swift
Labels: Resource

#8 [Docs] Issue, Pull Request 템플릿 추가
  .github/Issue_Template/✨-feature.md
  .github/Issue_Template/🎸-기타.md
  .github/Issue_Template/🐞-bug-report.md
  .github/Issue_Template/📱-design.md
  .github/pull_request_template.md
Labels: Docs

#11 [Fix] 디자인 시스템 Font 미적용 문제 해결
  Umat/Projects/App/Umai/Resources/Fonts/LINESeedSansKR-Bold.otf
  Umat/Projects/App/Umai/Resources/Fonts/LINESeedSansKR-Regular.otf
  Umat/Projects/App/Umai/Resources/Fonts/Pretendard-Bold.otf
  Umat/Projects/App/Umai/Resources/Fonts/Pretendard-Medium.otf
  Umat/Projects/App/Umai/Resources/Fonts/Pretendard-Regular.otf
  Umat/Projects/App/Umai/Resources/Fonts/Pretendard-SemiBold.otf
  Umat/Projects/Shared/DesignSystem/Sources/Fonts/Extensions+/Font+Extension.swift
  Umat/Projects/Shared/DesignSystem/Sources/Fonts/Extensions+/UIFont+Extension.swift
  Umat/Projects/Shared/DesignSystem/Sources/Fonts/Models/LINESeedSans.swift
  Umat/Projects/Shared/DesignSystem/Sources/Fonts/Models/Pretendard.swift
  Umat/Projects/Support/Info.plist
Labels: bug

#12 [Design] TextInput & TextArea, Button UI컴포넌트 추가
  Umat/Projects/Shared/DesignSystem/Sources/Component/Extensions+/String+Extension.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Extensions+/View+Extension.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Views/ButtonSize.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Views/ButtonState.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Views/CustomButton.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Views/TextInput.swift
Labels: Design

#13 [Design] Tab, Filter UI컴포넌트 추가
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_pins/Contents.json
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_pins/ic_like.imageset/Contents.json
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_pins/ic_like.imageset/ic_like.svg
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_pins/ic_love.imageset/Contents.json
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_pins/ic_love.imageset/ic_love.svg
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_pins/ic_notgood.imageset/Contents.json
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_pins/ic_notgood.imageset/ic_notgood.svg
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_pins/ic_pin.imageset/Contents.json
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_pins/ic_pin.imageset/ic_pin.svg
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_pins/ic_pin_new.imageset/Contents.json
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_pins/ic_pin_new.imageset/ic_pin_new.svg
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_pins/ic_soso.imageset/Contents.json
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_pins/ic_soso.imageset/ic_soso.svg
  Umat/Projects/Shared/DesignSystem/Sources/Colors/Models/Colors.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Buttons/ButtonSize.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Buttons/ButtonState.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Buttons/CustomButton.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Filters/CustomFilter.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Filters/FilterType.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Tabs/CustomTab.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Tabs/TabType.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/TextInput/TextInput.swift
  Umat/Projects/Shared/DesignSystem/Sources/Fonts/Models/Fonts.swift
  Umat/Projects/Shared/DesignSystem/Sources/Icons/Models/Icons.swift
Labels: Design

#18 [Feature] 마이페이지에서 사용할 모델 작성
  Umat/Projects/Shared/Entity/Sources/Couple.swift
  Umat/Projects/Shared/Entity/Sources/Place.swift
  Umat/Projects/Shared/Entity/Sources/UserInfo.swift
Labels: Feature

#19 [Design] Onboarding Flow UI
  Umat/Plugins/Umat/ProjectDescriptionHelpers/Modules/Modules.swift
  Umat/Projects/App/Umai/Project.swift
  Umat/Projects/App/Umai/Resources/Images.xcassets/AppIcon.appiconset/Contents.json
  Umat/Projects/App/Umai/Resources/Images.xcassets/Contents.json
  Umat/Projects/App/Umai/Resources/Images.xcassets/LaunchScreen/BackgroundColor.colorset/Contents.json
  Umat/Projects/App/Umai/Resources/Images.xcassets/LaunchScreen/Contents.json
  Umat/Projects/App/Umai/Resources/Images.xcassets/LaunchScreen/LaunchScreenImage.imageset/Contents.json
  Umat/Projects/App/Umai/Resources/Images.xcassets/LaunchScreen/LaunchScreenImage.imageset/LaunchScreenImage.svg
  Umat/Projects/App/Umai/Resources/LaunchScreen.storyboard
  Umat/Projects/App/Umai/Sources/ContentView.swift
  Umat/Projects/App/Umai/Sources/UmaiApp.swift
  Umat/Projects/Core/Networking/Project.swift
  Umat/Projects/Feature/Authorization/Project.swift
  Umat/Projects/Feature/Authorization/Resources/Authentication.xcassets/Contents.json
  Umat/Projects/Feature/Authorization/Resources/Authentication.xcassets/send.imageset/Contents.json
  Umat/Projects/Feature/Authorization/Resources/Authentication.xcassets/send.imageset/send.pdf
  Umat/Projects/Feature/Authorization/Resources/Authentication.xcassets/send_not.imageset/Contents.json
  Umat/Projects/Feature/Authorization/Resources/Authentication.xcassets/send_not.imageset/send_not.pdf
  Umat/Projects/Feature/Authorization/Resources/Authentication.xcassets/squirrel.imageset/Contents.json
  Umat/Projects/Feature/Authorization/Resources/Authentication.xcassets/squirrel.imageset/squirrel.jpeg
  Umat/Projects/Feature/Authorization/Sources/BaseObject.swift
  Umat/Projects/Feature/Authorization/Sources/LoginView.swift
  Umat/Projects/Feature/Authorization/Sources/OnboardingView.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/BaseView.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Buttons/ButtonSize.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Buttons/CustomButton.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Buttons/CustomNavigationLink.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Filters/CustomFilter.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Labels/CustomLabel.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Labels/GrayLabel.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Tabs/CustomTab.swift
  Umat/Projects/Support/Info.plist
Labels: Design

#24 [Design] CustomBottomSheet, CustomTabView추가
  Umat/Projects/App/Umai/Sources/MainView.swift
  Umat/Projects/Feature/Authorization/Sources/MakeCodeView.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Extensions+/ScrollView+Extension.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Extensions+/View+Extension.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Sheets/BottomSheet.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Sheets/BottomSheetViewModel.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Sheets/ScrollOffsetKey.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/TabView/CustomTabView.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/TabView/TabItem.swift
Labels: Design

#25 [Feature] 마이페이지 홈 구현
  Umat/.package.resolved
  Umat/Plugins/Umat/ProjectDescriptionHelpers/Modules/Modules.swift
  Umat/Projects/DemoApp/UmaiDemo/Project.swift
  Umat/Projects/DemoApp/UmaiDemo/Resources/Fonts/LINESeedSansKR-Bold.otf
  Umat/Projects/DemoApp/UmaiDemo/Resources/Fonts/LINESeedSansKR-Regular.otf
  Umat/Projects/DemoApp/UmaiDemo/Resources/Fonts/Pretendard-Bold.otf
  Umat/Projects/DemoApp/UmaiDemo/Resources/Fonts/Pretendard-Medium.otf
  Umat/Projects/DemoApp/UmaiDemo/Resources/Fonts/Pretendard-Regular.otf
  Umat/Projects/DemoApp/UmaiDemo/Resources/Fonts/Pretendard-SemiBold.otf
  Umat/Projects/DemoApp/UmaiDemo/Resources/Images.xcassets/AppIcon.appiconset/Contents.json
  Umat/Projects/DemoApp/UmaiDemo/Resources/Images.xcassets/Contents.json
  Umat/Projects/DemoApp/UmaiDemo/Resources/Images.xcassets/LaunchScreen/BackgroundColor.colorset/Contents.json
  Umat/Projects/DemoApp/UmaiDemo/Resources/Images.xcassets/LaunchScreen/Contents.json
  Umat/Projects/DemoApp/UmaiDemo/Resources/Images.xcassets/LaunchScreen/LaunchScreenImage.imageset/Contents.json
  Umat/Projects/DemoApp/UmaiDemo/Resources/Images.xcassets/LaunchScreen/LaunchScreenImage.imageset/LaunchScreenImage.svg
  Umat/Projects/DemoApp/UmaiDemo/Sources/ContentView.swift
  Umat/Projects/Feature/MyPage/MyPageTests/Sources/MyPageTests.swift
  Umat/Projects/Feature/MyPage/Project.swift
  Umat/Projects/Feature/MyPage/Sources/Utility/Date+Formatter.swift
  Umat/Projects/Feature/MyPage/Sources/View/ConfigView.swift
  Umat/Projects/Feature/MyPage/Sources/View/CoupleView/CoupleDashboardView.swift
  Umat/Projects/Feature/MyPage/Sources/View/CoupleView/MeAndYouView.swift
  Umat/Projects/Feature/MyPage/Sources/View/MyPageView.swift
  Umat/Projects/Feature/MyPage/Sources/View/WishlistView/IndividualWishlistView.swift
  Umat/Projects/Feature/MyPage/Sources/View/WishlistView/VerticalDividingLine.swift
  Umat/Projects/Feature/MyPage/Sources/View/WishlistView/WishlistView.swift
  Umat/Projects/Feature/MyPage/Sources/ViewModel/MyPageViewModel.swift
  Umat/Projects/Shared/Entity/Sources/Couple.swift
  Umat/Projects/Shared/Entity/Sources/UserInfo.swift
Labels: Design, Feature

#32 [Feature] HomeBottomSheetContent 작업(FileManager, ViewModel, UI)
  Umat/Projects/App/Umai/ShareExtension/Base.lproj/MainInterface.storyboard
  Umat/Projects/App/Umai/Sources/MainView.swift
  Umat/Projects/Feature/Authorization/Sources/Views/InputCodeView.swift
  Umat/Projects/Feature/Authorization/Sources/Views/LoginView.swift
  Umat/Projects/Feature/Authorization/Sources/Views/MakeCodeView.swift
  Umat/Projects/Feature/Authorization/Sources/Views/MakeNameView.swift
  Umat/Projects/Feature/Authorization/Sources/Views/OnboardingView.swift
  Umat/Projects/Feature/MarkPlace/Sources/Models/FilteredList.swift
  Umat/Projects/Feature/MarkPlace/Sources/Storage/PlaceFileManager.swift
  Umat/Projects/Feature/MarkPlace/Sources/ViewModels/HomeBottomSheetContentViewModel.swift
  Umat/Projects/Feature/MarkPlace/Sources/Views/HomeBottomSheetContent/HomeBottomSheetContent.swift
  Umat/Projects/Feature/MarkPlace/Sources/Views/HomeBottomSheetContent/HomeBottomSheetContentHeader.swift
  Umat/Projects/Feature/MarkPlace/Sources/Views/HomeBottomSheetContent/HomeBottomSheetContentList.swift
  Umat/Projects/Feature/MarkPlace/Sources/Views/PlaceAddBottomContent/PlaceAddBottomSheetContent.swift
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_filled/ic_tornament_filled.imageset/Contents.json
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_filled/ic_tornament_filled.imageset/ic_tornament_filled.svg
  Umat/Projects/Shared/DesignSystem/Sources/Colors/Extensions+/ShapeColor+Extension.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Labels/TitleHeader.swift
  Umat/Projects/Shared/DesignSystem/Sources/Component/Sheets/BottomSheet.swift
  Umat/Projects/Shared/DesignSystem/Sources/Icons/Models/Icons.swift
  Umat/Projects/Shared/Entity/Sources/Couple.swift
  Umat/Projects/Shared/Entity/Sources/FilterType.swift
  Umat/Projects/Shared/Entity/Sources/Place.swift
  Umat/Projects/Shared/Entity/Sources/UserInfo.swift
  Umat/Projects/Shared/Utility/Sources/Extension/Foundation+Extension/Date+Formatter.swift
  Umat/Projects/Shared/Utility/Sources/Extension/UIKit+Extension/UIApplication+statusBarFrame.swift
  Umat/Projects/Shared/Utility/Sources/Extension/UIKit+Extension/UINavigationController+gesture.swift
Labels: Design, Feature

#36 [Design] Tournament UI 생성
  Umat/Projects/Feature/MarkPlace/Sources/Views/HomeBottomSheetContent/HomeBottomSheetContentHeader.swift
  Umat/Projects/Feature/MarkPlace/Sources/Views/TournamentView/TournamentView.swift
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_outlined/ic_cancel_big_outlined.imageset/Contents.json
  Umat/Projects/Shared/DesignSystem/Resources/Icons.xcassets/ic_outlined/ic_cancel_big_outlined.imageset/ic_cancel_big_outlined.svg
  Umat/Projects/Shared/DesignSystem/Sources/Component/Sheets/BottomSheet.swift
  Umat/Projects/Shared/DesignSystem/Sources/Icons/Models/Icons.swift
Labels: Design
